<div
  class="ticker-indicators-preview"
  [ngClass]="{ 'hidden-ticker-indicators-preview': !previewVisibility }"
>
  <div class="suggested-ticker-wrapper">
    <div class="suggested-ticker-image-and-name">
      <img
        class="suggested-ticker-image"
        [src]="suggestedTickerPreview?.logo"
      />
      <div class="suggested-ticker">
        <p class="ticker">{{ suggestedTickerPreview?.stock }}</p>
        <p class="company">{{ suggestedTickerPreview?.name }}</p>
      </div>
    </div>
    <div class="ticker-price-wrapper">
      <p class="ticker-current-quotation-price">
        {{ suggestedTickerPreview?.close | currency : "BRL" }}
      </p>
      <span
        class="ticker-current-change-percentage"
        [ngClass]="{
          'positive-close-day': suggestedTickerPreview?.closeDay === 'positive',
          'negative-close-day': suggestedTickerPreview?.closeDay === 'negative'
        }"
        >{{ suggestedTickerPreview?.change | number : "1.0-2" }}%</span
      >
    </div>
  </div>
  <app-divider></app-divider>
  <!-- <div class="target-price-indicators">
    <h2 class="target-price-title">Indicadores de Preço Alvo</h2>
    <div class="bazin-indicator">
      <p class="indicator-label">Bazin</p>
      <span class="input-label">M. dividendos</span>
      <span class="input-label">Yield (%)</span>
      <span class="target-price-label">Preço alvo</span>
      <div class="input-wrapper">
        <span class="dividend-average">3,99</span>
        <span>/</span>
        <input
          class="input"
          value="6"
          pInputText
          id="expected-yield"
          type="text"
          placeholder="6"
        />
        <span>=</span>
        <span class="target-price-value">3,99</span>
      </div>
    </div>
    <div class="graham-indicator">
      <p class="indicator-label">Graham</p>
    </div>Ver indicadores
  </div> -->
  <div class="ticker-valuation-indicators">
    <div
      *ngFor="let valuation of valuationIndicators"
      class="valuation-indicator"
    >
      <p class="indicator">{{ valuation.indicator }}</p>
      <p class="value">{{ valuation.value }}</p>
    </div>
  </div>
  <div class="ticker-details-link-wrapper">
    <a class="ticker-details-link">Ver Indicadores</a>
  </div>
</div>
