<div
  class="toolbar-option-preview"
  [ngClass]="{ 'toolbar-option-preview-hidden': !option?.hovered }"
  [@topdown]="option?.hovered ? 'start' : 'end'"
>
  <div class="arrow-indicator"></div>
  <div class="left-side-wrapper">
    <div class="column-spaced">
      <div class="column">
        <span class="material-symbols-rounded icon"> {{ option?.icon }} </span>
        <span class="label">{{ option?.label }}</span>
        <p class="description">{{ option?.description }}</p>
      </div>
      <a class="link">Ver mais</a>
    </div>
  </div>
  <div class="right-side-wrapper">
    <div class="column">
      <ng-container [ngSwitch]="option?.label">
        <ng-container *ngSwitchCase="'Mercado'">
          <div class="market-highs-wrapper">
            <div class="carousel-control previous">-</div>
            <div class="ticker-day-indicator">
              <img class="ticker-image" src="https://s3-symbol-logo.tradingview.com/vale--big.svg" />
              <span class="ticker">VALE3</span>
              <span class="ticker-quotation">R$69,99</span>
              <span class="close-day-variation">0,55%</span>
            </div>
            <div class="ticker-day-indicator">
              <img class="ticker-image" src="https://s3-symbol-logo.tradingview.com/vale--big.svg" />
              <span class="ticker">VALE3</span>
              <span class="ticker-quotation">R$69,99</span>
              <span class="close-day-variation">0,55%</span>
            </div>
            <div class="ticker-day-indicator">
              <img class="ticker-image" src="https://s3-symbol-logo.tradingview.com/vale--big.svg" />
              <span class="ticker">VALE3</span>
              <span class="ticker-quotation">R$69,99</span>
              <span class="close-day-variation">0,55%</span>
            </div>
            <div class="carousel-control next">+</div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
